{
    "presets": [
        ["@babel/env", {
            "targets": {
                "node": "12.9.1"
            }
        }]
    ],
    "plugins": [
        ["module-resolver", {
          "alias": {
            "~app": "./src",
            "~config": "./src/config",
            "~entity": "./src/entity",
            "~layouts": "./src/layouts",
            "~services": "./src/services",
            "~middleware": "./src/middleware",
            "~models": "./src/models",
            "~routes": "./src/routes",
            "~utilities": "./src/utilities"
          }
        }]
    ]
}